{:description "Shopping list",
 :compile-path
 "/home/soren/Linux/clojure/shop2/target/base+system+user+dev/classes",
 :deploy-repositories
 [["clojars"
   {:url "https://clojars.org/repo/",
    :password :gpg,
    :username :gpg}]],
 :group "shop2",
 :injections
 [(use '[clojure.pprint :only [pp pprint]])
  (use 'alex-and-georges.debug-repl)],
 :ring
 {:handler shop2.core/application,
  :auto-reload? true,
  :auto-refresh? false,
  :port 3000},
 :license
 {:name "Eclipse Public License",
  :url "http://www.eclipse.org/legal/epl-v10.html"},
 :resource-paths
 ("/home/soren/Linux/clojure/shop2/dev-resources"
  "/home/soren/Linux/clojure/shop2/resources"),
 :uberjar-merge-with
 {"META-INF/plexus/components.xml" leiningen.uberjar/components-merger,
  "data_readers.clj" leiningen.uberjar/clj-map-merger,
  #"META-INF/services/.*"
  [clojure.core/slurp
   (fn*
    [p1__6117__6119__auto__ p2__6118__6120__auto__]
    (clojure.core/str
     p1__6117__6119__auto__
     "\n"
     p2__6118__6120__auto__))
   clojure.core/spit]},
 :name "shop2",
 :checkout-deps-shares
 [:source-paths
  :test-paths
  :resource-paths
  :compile-path
  #'leiningen.core.classpath/checkout-deps-paths],
 :source-paths ("/home/soren/Linux/clojure/shop2/src"),
 :eval-in :subprocess,
 :repositories
 [["central"
   {:url "https://repo1.maven.org/maven2/", :snapshots false}]
  ["clojars" {:url "https://clojars.org/repo/"}]],
 :test-paths ("/home/soren/Linux/clojure/shop2/test"),
 :uberjar {:aot :all},
 :target-path
 "/home/soren/Linux/clojure/shop2/target/base+system+user+dev",
 :prep-tasks ["javac" "compile"],
 :uberjar-name "shopping-0.7.2.jar",
 :native-path
 "/home/soren/Linux/clojure/shop2/target/base+system+user+dev/native",
 :offline? false,
 :root "/home/soren/Linux/clojure/shop2",
 :pedantic? ranges,
 :clean-targets [:target-path],
 :plugins
 ([lein-ring/lein-ring "0.12.0"]
  [lein-pprint/lein-pprint "1.1.2"]
  [lein-ancient/lein-ancient "0.5.2"]),
 :url "http://soahojen.se",
 :profiles {:dev {:uberjar {:aot :all}, :jvm-opts nil, :eval-in nil}},
 :plugin-repositories
 [["central"
   {:url "https://repo1.maven.org/maven2/", :snapshots false}]
  ["clojars" {:url "https://clojars.org/repo/"}]],
 :aliases {"downgrade" "upgrade"},
 :version "0.7.2",
 :jar-exclusions [#"^\."],
 :main shop2.core,
 :global-vars {},
 :uberjar-exclusions [#"(?i)^META-INF/[^/]*\.(SF|RSA|DSA)$"],
 :jvm-opts
 ["-XX:+TieredCompilation"
  "-XX:TieredStopAtLevel=1"
  "-XX:-OmitStackTraceInFastThrow"],
 :dependencies
 ([org.clojure/clojure "1.9.0-alpha15"]
  [hiccup/hiccup "1.0.5"]
  [ring/ring "1.5.0"]
  [ring/ring-defaults "0.2.3"]
  [clj-time/clj-time "0.13.0"]
  [com.novemberain/monger "3.1.0"]
  [garden/garden "1.3.2"]
  [cheshire/cheshire "5.7.1"]
  [ring-logger/ring-logger "0.7.7"]
  [com.cemerick/friend "0.2.3"]
  [com.taoensso/timbre "4.10.0"]
  [compojure/compojure "1.5.2"]
  [org.clojure/tools.nrepl
   "0.2.12"
   :exclusions
   ([org.clojure/clojure])]
  [clojure-complete/clojure-complete
   "0.2.4"
   :exclusions
   ([org.clojure/clojure])]
  [org.clojars.gjahad/debug-repl "0.3.3"]),
 :release-tasks
 [["vcs" "assert-committed"]
  ["change" "version" "leiningen.release/bump-version" "release"]
  ["vcs" "commit"]
  ["vcs" "tag"]
  ["deploy"]
  ["change" "version" "leiningen.release/bump-version"]
  ["vcs" "commit"]
  ["vcs" "push"]],
 :test-selectors {:default (constantly true)}}
